{% extends "layout/layout.html" %}
{% block logo %}
   {% for logo in logos %}
   <div class="image-container">
      <a href="{{url_for('start')}}"><img src="{{ url_for('logos_static', filename=logo.path) }}" ></a>
   </div>
   {% endfor %}
{% endblock %}
{% block navBlog %}
   active
{% endblock %}
{% block body %}
	<div class="col-sm-9" style="overflow-y: auto; max-height: 92.5vh">
		<div class="row">
            <div class="col-lg-12 text-center my-2">
               <h2>Blog Post</h2>
            </div>
     	</div>
      <div class="row">
         <!-- Post Content Column -->
         <div class="col-lg-8" style="width: 100%; padding: 0;">
         <div class="post-wrapper"> 
         <hr>
         <!-- Title -->
         <h2>{{ blog.title }}</h2>
         <!-- Author | Date/Time -->
         <p style="font-weight: bold;">By {{ blog.author }} | {{ blog.date }}</p>
         {% if (blog.image != None) %}
            <!-- Preview Image -->
            <img class="img-fluid blog-img" src="{{ url_for('blog_static', filename=blog.image) }}">
         {% endif %}
         <br></br>
         <p>{{ blog.content }}</p>
         </div>
         </div>
      </div>
    </div>
{% endblock %}
