{% extends "layout/dashLayout.html" %}
{% block logo %}
   {% for logo in logos %}
   <div class="image-container">
      <a href="{{url_for('start')}}"><img src="{{ url_for('logos_static', filename=logo.path) }}"></a>
   </div>
   {% endfor %}
{% endblock %}
{% block dashGallery %}
   active
{% endblock %}
{% block body %}
   <div class="col-sm-9" style="overflow-y: auto; max-height: 92.5vh">
      <div class="row">
            {% if current_user.is_authenticated %}
               <div style="float: right; margin-top: 15px; margin-right: 15px;">
                  <a href="#">Welcome {{ current_user.name }}  |  </a>
                  <a href="{{url_for('logout')}}"> Logout</a>  
               </div>  
            {% endif %} 
            <div class="col-lg-12 text-center my-2">
               <h2>Blog Entry</h2>
            </div>
         </div>
         <hr>
            <div class="col-md-8" style="text-align: center; width: 100%; margin-top: 50px;">
            <form method="POST" action="/postBlog" name="blogEntry" id="blogEntry" style="display: inline-block; width: 80%;">
               <div class="form-group">
                <label for="titleInput">Title: </label>
                <input type="text" class="form-control" id="titleInput">
               </div>
               <div class="form-group">
                <label for="authorInput">Author: </label>
                <input type="text" class="form-control" id="authorInput">
               </div>
              <div class="form-group" style="display: inline-block; margin-top: 10px;">
                <label for="imageInput">Image: </label>
                <input type="file" class="form-control-file" id="imageInput">
              </div>
               <div class="form-group" style="margin-top: 10px;">
                <label for="descriptionInput">Description: </label>
                <textarea type="text" class="form-control" id="descriptionInput" rows="4"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">Submit Blog Post</button>
            </form>
         </div>
      </div>
{% endblock %}
