{% extends "layout/layout.html" %}
{% block logo %}
   {% for logo in logos %}
   <div class="image-container">
      <a href="{{url_for('start')}}"><img src="{{ url_for('logos_static', filename=logo.path) }}"></a>
   </div>
   {% endfor %}
{% endblock %}
{% block navHome %}
   active
{% endblock %}
{% block body %}
<div class="col-sm-9" style="overflow-y: auto; max-height: 92.5vh; align-items: center; text-align: center;">
    <div class="home-container">
        <h1>- Catering -</h1>
        <br>
        <p style="margin-left: 60px; margin-right: 60px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="{{url_for('gallery')}}">gallery</a> dui sapien eget mi proin sed libero enim. Id diam vel quam elementum pulvinar etiam non quam. Tortor id aliquet lectus <a href="{{url_for('blog')}}">blog</a> nibh nisl. Posuere morbi leo urna molestie at. Nam libero justo laoreet sit.
        </p>
        <h2>- Pricing -</h2>
        <p>...<br>...<br>...</p>
    </div>
</div>
{% endblock %}