{% extends "layout/authLayout.html" %}
{% block body %}
<div id="formContent">
    <h3 class="title">Login</h3>
    	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                To register with us go to <a href="{{url_for('signup')}}">Sign Up</a>
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <input type="text" name="email" placeholder="Your Email" autofocus="">
            <input type="text" name="password" placeholder="Your Password">

            <label class="checkbox">
                <input type="checkbox">
                    Remember me
            </label>
            <input type="submit" value="Login">
            <a href="/signup" class="authSwitch">Sign Up</a>
        </form>
</div>
{% endblock %}
