{% extends "layout/authLayout.html" %}
{% block body %}
<div id="formContent">
    <h3 class="title">Sign Up</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                Go to <a href="{{url_for('login')}}">Login Page</a>
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <input type="email" name="email" placeholder="Email" autofocus="">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="name" placeholder="Name">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Register">
            <a href="/login" class="authSwitch">Login</a>
        </form>
</div>
{% endblock %}