<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Catering Project</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Make A Jinja Block For Header Dependencies -->
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.masonry.min.js') }}"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!-- Facebook SDK -->
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="7czWcdYb"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2WG1D5FY41"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-2WG1D5FY41');


        $(document).ready(function(){
        var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
            enabled : true
         }
         });

            $('#back-to-top').fadeOut();
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
            
            $('#back-to-top').tooltip('show');

        
        $(".filter-button").click(function(){
            var value = $(this).attr('data-filter');
            
            if(value == "all")
            {
                $('.filter').removeClass('hidden');
                $('.filter').show('1000');
            }
            else
            {
               $('.filter').removeClass('hidden');
               $('.filter').show();
               $('.filter').not('.'+value).hide('1000');
            }
            });

        $('.portfolio-menu li').click(function() {

            $('.portfolio-menu li.active').removeClass('active');
            $(this).addClass('active');

        }); 

    });




    </script>
    <style type="text/css">
        a{
            color: black;
            text-decoration: none;
        }

        a:hover 
        {
             text-decoration: none; 
             color: black;
             cursor: pointer;  
        }
        hr{
            margin: 0;
            padding: 0;
        }
        .hidden{
            display: none;
        }
    </style>
    </head>
    <body> 
        <div class="container-fluid">
          <div class="row content">
            <div class="col-sm-3 sidenav">
            <div class="logo-img">
                {% block logo %}{% endblock %}
            </div>
            <ul class="nav nav-stacked list-group">

                <li class="{% block navHome %}{% endblock %}"><a href="{{url_for('start')}}">Home</a></li>
                <li class="{% block navGallery %}{% endblock %}"><a href="{{url_for('gallery')}}">Gallery</a></li>
                <li class="{% block navBlog %}{% endblock %}"><a href="{{url_for('blog')}}">Blog</a></li>
        
            </ul><br>
            </div>

                    {% macro render_error(field) %}
                        {% if field.errors %}
                            {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                        {% endif %}
                    {% endmacro %}
                    {% block body %}{% endblock %}

            </div>
                <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>

        <footer class="container-fluid">
          <p class="text-center">Catering LTD | <a style="color: #0060B6;" href="{{url_for('login')}}">Dashboard</a></p>
        </footer>

    </body>
</html>